{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Cambio de clave</p>

<form method="post" role="form" action="{% url 'password_change' %}">
    {% csrf_token %}
    <p>Clave actual:</p>{{password_form.old_password}}
    <p>Nueva clave:</p>{{password_form.new_password}}
    <p>Repita nueva clave:</p>{{password_form.new_password_two}}
    <button type="submit">Modificar</button>
</form>